@import "tailwindcss";

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.highlight:hover {
    background-color: blue;
    transform: scale(1.1);
    transition: transform 0.8s ease-in-out;


}

.nav:hover {
    text-shadow: 0px 0px 7px white;
    transform: scale(1.1);
    transition: 0.5s ease-in;

}

.logo:hover {
    transform: scale(1.2) rotate(360deg);
    transition: 1.3s ease-in;
    background-color: blue;
    color: wheat;
}